@font-face
{
  font-family: 'Montserrat-Regularimport';
  src:url('../Montserrat-Regular.ttf');
}

header {
    margin-top: 30px;
}
header h1 {
    margin:0px;
    display: inline;
}
header nav {
    display:inline;
}
header nav ul {
    float: right;
    list-style-type: none;
    margin-top: 10px;
}
header nav ul li {
    display: inline;
    padding: 0px 20px;
}
header nav ul li.selected {
      
    padding-bottom: 10px;
}
header nav ul li a {
    font-size: 30px;
    color: white;
    text-decoration: none;
      }
header nav ul li a:hover {
        color:#FF0D0D;
}
a, a:visited {
  color:#000000;
}

h1, h2 {
    color:#FFFFFF;
}

header h1 {
    display:block;
    text-align: left;
}

header nav {
    display:block;
}

h1 {
  font-size:58px; /* em? */
  font-weight:normal;
  text-align: center; 
  font-family: 'Montserrat-Regularimport', Arial, sans-serif; 
}


h2 {
  font-size:28px; /* em? */
  font-weight:normal 
  text-align: center;
  font-family: 'Montserrat-Regularimport', Arial, sans-serif; /*
  position: relative;
  top: 50px;*/
}

h3 {
  color:#000000;
  font-size:18px; /* 1.125em */
  font-weight:bold;
  font-family: 'Montserrat-Regularimport', Arial, sans-serif;
}

body {
    font-family: Montserrat;
}

img {
  max-width: 100%;
  height: auto;
}

div#header {
    background-color: #ffffff;
    background-image: url('../images/main-image.png');
    background-size: cover;
    background-position: center center;
    margin-top: -6px; /* Because the background image is dodgy! */
    min-height: 400px;
}

div#footer {
  background-color:#9f9da9;
  color:#d9cdc0;
}
div#footer nav {
  float: left;
  margin:10px 0 0;
}
div#footer p {
  margin:10px 0 0;
}
  div#footer nav ul {
    list-style-type: none;
  }
    div#footer nav ul li {
      display:inline;
    }
      div#footer nav ul li a {
        color:#ccead5;
        text-decoration: none;
      }

a, a:visited {
  color:#ffffff;
}

#computer {
  background-color: fffae5; 
  padding-top: 20px;
}

.logo {
  float:left;
}

#testimonials img {
  height: 100px;
  width: 100px;
  float: left;
}

#testimonials {
  background-color: #CCCCCC;
}

.testimonial {
  padding: 40px;
}

.testimonial-text {
  margin-left: 100px;
  padding-left: 20px;
}

.centered {
  text-align: center;
}

.right {
  float: right;
}

#benefits img {
  height: 126px; 
  width: 126px;
  padding: 30px;
  }

#desk {
  margin-bottom: -6px;
}

button {
  background-color: orange;
  border-radius: 3px;
  height: 60px;
  width: 200px;
  margin-top: 40px;
  font-size: 24px;
  color:#fff;
} 

